<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/quxiaofeng/" target="_blank">@quxiaofeng</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/quxiaofeng/" target="_blank">@quxiaofeng</a></p>
<p><i class="fa fa-weibo fa-lg fa-fw"></i> <a href="https://weibo.com/quxiaofeng/" target="_blank">@q曲晓峰</a></p>
<p><i class="fa fa-qq fa-lg fa-fw"></i> <a href="http://wpa.qq.com/msgrd?v=3&uin=35007732&site=qq&menu=yes" target="_blank">@曲晓峰</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/quxiaofeng" target="_blank">quxiaofeng</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://www.quxiaofeng.me/" target="_blank">quxiaofeng.me</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:xiaofeng.qu.hk@ieee.org" target="_blank">xiaofeng.qu.hk@ieee.org</a></p>